<!-- Nqkolko style sheets, koito samo tozi View ima -->
<link rel="shortcut icon" href="~/Misc/Page/images/gt_favicon.png" />
<link rel="stylesheet" href="~/Misc/Page/css/magister.css">
<link rel="stylesheet" href="~/Misc/Page/css/WireOne.css">

<!-- Purvata stranica koqto saita zarejda -->
<body class="theme-invert">
    <section class="section" id="head">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
                    <h1 class="title">Електронна уеб платформа</h1>
                    <h2>Влезте във вашия акаунт или се регистрирайте</h2>
                    <br />
                    <p>
                        <a href="@Url.Action("Login", "Account")" class="btn btn-default btn-lg">Вход</a>
                        <a href="@Url.Action("Register", "Account")" class="btn btn-default btn-lg">Регистрация</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Misc/Page/js/modernizr.custom.72241.js"></script>
    <script src="~/Misc/Page/js/magister.js"></script>

</body>